*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #c7f2f1;
    color: #023433;
}

body h1{
    font-weight: 500;
}

@media (min-width:320px) {
    .content-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1{
      font-size: 32px;
      text-align: center;
    }

    .nav ul{
        display: flex;
        list-style: none;
        gap: 5px;
    }

    .nav li{
        border-bottom: 1px solid transparent;
    }

    .nav li:hover{
        color: #dd6161;
        border-bottom: 1px solid #50505037;
        cursor: pointer;
    }

    .mobile-menu{
        margin-top: 10px;
    }
}

@media (min-width:375px) {
    
}

header{
    background-color: #fffefa;
}
